{% load static %}
<div class="item" id="link-{{ link.id }}">
    <div class="middle aligned content">
        <form
            hx-patch="{% url 'edit-link' link.id %}"
            hx-target="#link-{{ link.id }}"
            hx-swap="outerHTML">
            <div class="ui fluid action input">
                <input type="text" name="title" value="{{ link.title }}"/>
                <button class="ui positive button">Save</button>
            </div>
        </form>
        <div class="meta">
            url: <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
        </div>
    </div>
</div>
