<div id="links" class="ui basic segment relaxed divided list">
    <div class="item">
        <div class="right floated content">
            <div class="ui icon button" hx-get="{% url 'links' %}?sort=true" hx-target="#links">Sort<i
                    class="up arrow icon"></i></div>
        </div>
    </div>
    {% for link in links %}
    <div class="item">
        <div class="right floated content">
            <div class="ui button">Edit</div>
        </div>
        <div class="content">
            <a class="header">{{ link.title }}</a>
            <div class="description">{{ link.url }}</div>
        </div>
    </div>
    {% endfor %}
</div>
